<h1>Message_board#list</h1>

<% @message_boards.each do |mb| %>
  <p>No：<%= mb.id %></p>
  <p>投稿者：<%= mb.user.name %></p>
  <p>タイトル：<%= link_to mb.title, message_board_path(mb.id) %></p>
  <p>投稿日：<%= mb.updated_at %></p>
  <hr/>
<% end %>

