<h1>Home#edit</h1>
<p>Find me in app/views/home/edit.html.erb</p>

<% if user_signed_in? %>
  <%= link_to "LogOut", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "LogIn", new_user_session_path %>
<% end %>
