<%# if user_signed_in? %>
  <%#= link_to "LogOut", destroy_user_session_path, method: :delete %>
<%# else %>
  <%#= link_to "LogIn", new_user_session_path %>
<%# end %>

<div class="hero-unit">
  <h1>WELCOME !! Fooo!</h1>
</div>
